{% extends 'base.html' %} 

{% block title %} about {% endblock %}

{% block content %} 
<div class="container">
    <div class="jumbotron mt-3 p-4 p-md-5 text-dark border rounded border-secondary rounded bg-light">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">This site is created by samir dube.</h1>
          <p class="lead my-3">Created via django, which is a very popular python framework.</p>
          <p class="lead mb-0"><a href="#" class="text-black font-weight-bold">Continue reading...</a></p>
        </div>
      </div>
</div>
{% endblock %}

