{% extends 'base.html' %} 

{% block title %} Public Polls {% endblock %}
{% for message in messages  %}  {% endfor %} 
{% block content %} 
<h1 class="text-center mt-5 fontPangolin" style="font-size:40px; font-weight: 800;">Log in</h1>
<div class="container px-5 fontPangolin">
    <form method="POST" action="{% url 'users:login' %}" class="border rounded border-secondary p-5 m-5 shadow-lg">
      {% csrf_token %}
        <div class="form-group">
          <label for="loginusername">Username</label>
          <input type="text" class="form-control option" id="loginusername" name="loginusername" placeholder="Enter username "required>
        </div>
        <div class="form-group">
          <label for="loginpassword">Password</label>
          <input type="password" class="form-control option" id="loginpassword" name="loginpassword" placeholder="Enter password "required>
        </div>
        <div class="form-group form-check d-none">
          <input type="checkbox" class="form-check-input" id="showPasswordCheck">
          <label class="form-check-label" for="exampleCheck1">Show Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-2 shadow-lg">Log in</button>
      </form>
</div>
{% endblock %}

