{% extends 'base.html' %} 

{% block title %} My Polls {% endblock %}

{% block content %} 

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}


<h1 class="text-center mb-3 mt-3 fontPangolin" style="font-size:50px; font-weight: bolder;">My Polls</h1>
{% if latest_question_list %}
  {% for question in latest_question_list %}
    {% if request.user ==  question.user %}
      <div class="container mt-3 p-3 border rounded border-secondary shadow-lg">
        <div class="card-body">
          <h3 class="m-3 fontPangolin" style="font-size:40px; font-weight: 800;">{{ question.question_text }}</h3>

          <div class="form-group row mb-3 ml-3">
            <h6 class=" col-sm-4  fontPatrick" style="font-size:20px; font-weight: 600;">live status - </h6>
            <h6 class=" col-sm-8  fontPatrick" style="font-size:20px; font-weight: 300;">{{ question.livestatus }}</h6>
          </div>
          <div class="form-group row mb-3 ml-3">
            <h6 class=" col-sm-4  fontPatrick" style="font-size:20px; font-weight: 600;">public status - </h6>
            <h6 class=" col-sm-8  fontPatrick" style="font-size:20px; font-weight: 300;">{{ question.publicstatus }}</h6>
          </div>
          <div class="form-group row mb-3 ml-3">
            <h6 class=" col-sm-4  fontPatrick" style="font-size:20px; font-weight: 600;">Share pole link - </h6>
            <a class=" col-sm-8  fontPatrick" href="https://livepol.herokuapp.com/users{{ question.sno }}" style="font-size:20px; font-weight: 300;">https://livepol.herokuapp.com/users{{ question.sno }}</a>
          </div>

          <a href="{% url 'users:details' question.sno %}" class="btn btn-primary ml-3 mt-3 shadow-lg">Vote Now</a>
          <a href="{% url 'users:results' question.sno %}" class="btn btn-secondary mt-3 shadow-lg">Results</a>
                    

        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
  <p>No polls available</p>
{% endif %}

{% endblock %}

